/*
	==================
		 GLOBAL CSS
	==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.456rem;
  font-weight: normal;
  color: #888;
}

.container {
  max-width: 1290px;
}

ul {
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.ptb-80 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ptb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ptb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ptb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  padding: 13px 26px;
  background: #ffa624;
  border-color: #ffa624;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 0;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #bf7509;
  border-color: #bf7509;
  transform: translateY(-10px);
}
/*
	===========================
		SECTION HEADER CSS
	===========================
*/
.section_header {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.section_header::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 3px;
  background: #ffa624;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 45px;
}

.section_header::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #ffa624;
  bottom: -23px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 45px;
}
.section_header > h3 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}

.section_header > h3 span {
  color: #ffa624;
}

.section_header > p {
  color: #000;
  font-size: 1rem;
  font-family: "Poppins";
}
/*
	==================
		HEADER CSS
	==================
*/
.banner_wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.banner_wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/*
	========================
		BANNER CONTENT
	========================
*/
.banner-content {
  padding: 200px 0;
  width: 570px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  color: #fff;
  box-sizing: border-box;
}

.banner-content > h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  display: block;
  margin-bottom: 15px;
}

.banner-content > h1 {
  font-size: 2.8rem;
  font-weight: 900;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
}

.banner-content > p {
  font-size: 1.1rem;
  margin-bottom: 22px;
  color: #fff;
  letter-spacing: 2px;
}

.art-lg-text.art-code {
  font-size: 1.2rem;
  margin-bottom: 17px;
}

.art-lg-text.art-code span {
  color: #ffa624;
  font-weight: 700;
}

.art-lg-text.art-code i {
  font-size: ;
  font-style: normal;
  color: #ffa624;
}

/* 
	=================
	 	Mouse Icon
	=================

*/

a.while {
  border: 2px solid #ffc107;
  width: 35px;
  height: 46px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  border-radius: 15px;
  background: transparent;
}

span.while-item {
  position: absolute;
  width: 3px;
  height: 9px;
  background: #ffc107;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 5px;
  animation: down 1.3s infinite linear;
}

@keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }

  30% {
    top: 15px;
    opacity: 1;
  }

  100% {
    top: 30px;
    opacity: 0;
  }
}

/*
	==================
		 NAVBAR CSS
	==================
*/

.header_wrapper {
  background: rgba(0, 0, 0, 0.9);
}
.sticky {
  position: fixed;
  width: 100%;
  background: #232339;
  z-index: 9999;
}
.sticky #blog {
  margin-top: 130px !important;
}
.main_menu {
  padding: 25px 0;
}

.main_menu ul li {
  display: inline-block;
  margin-left: 22px;
}

.main_menu ul li.active a {
  color: #ffa624;
}

.main_menu ul li:first-child {
  margin-left: 0;
}

.main_menu ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: "Ubuntu", sans-serif;
}

a.logo {
  color: #ffa624;
  font-size: 1.3rem;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
}

/*
	========================
		 Counter CSS
	=======================
*/

.complete_projects {
  border-bottom: 1px solid #f5f5f5;
  margin-top: -60px;
  padding-bottom: 90px;
}

.counter_item {
  text-align: center;
  box-shadow: 0px 0px 4px #ddd;
  padding: 30px 0;
}

.counter_item span {
  font-size: 1.7rem;
  color: #000;
}

.counter_item .counter {
  font-size: 1.6rem;
  color: #000;
}

.counter_img img {
  max-width: 60px;
  margin-bottom: 10px;
}

/*
	========================
		 ABOUT CSS
	=======================
*/

.about_image {
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 20px 0px rgba(71, 69, 97, 0.7);
  position: relative;
}
.about_image img {
  border-radius: 20px;
}
.about_image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 300%;
  left: -70%;
  top: -100%;
  background: #ffa624;
  transform: rotate(45deg);
  z-index: -1;
}

.about-details h2 span {
  color: #ffa624;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}
.about-details p {
  font-size: 1.01rem;
  color: #888;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.about-details h2 {
  margin: 10px 0 0 0 !important;
  color: #000;
  font-weight: 700 !important;
}

.about-details h6 {
  margin-bottom: 20px;
  color: #000;
}

.biodata_info {
  padding: 20px 0 20px 100px;
  margin: 40px 0 0 0;
  box-shadow: 0px 0px 14px #ddd;
  border-radius: 10px;
}

.biodata_info {
  display: flex;
  flex-wrap: wrap;
}

.biodata_info li {
  flex: 50%;
  margin: 7px 0;
}
.biodata_info li a {
  color: #888;
}
.biodata_info li span {
  font-weight: 600;
  color: #171c24;
  font-family: "Roboto", sans-serif;
}

.social_links li {
  display: inline-block;
  margin-right: 15px;
}

.social_links {
  margin: 20px 0;
}

.social_links li a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #e1e1e1;
  border-radius: 50%;
  font-size: 1rem;
  color: #444343;
}

.social_links li a i.fab.fa-facebook-f:hover {
  background: #3b5999;
  color: #fff;
  transition: all 0.5s ease;
}

.social_links li a i.fab.fa-twitter:hover {
  background: #00acee;
  color: #fff;
  transition: all 0.5s ease;
}

.social_links li a i.fab.fa-linkedin-in:hover {
  background: #577dce;
  color: #fff;
  transition: all 0.5s ease;
}

.social_links li a i.fab.fa-instagram:hover {
  background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4);
  color: #fff;
  transition: all 0.5s ease;
}
/*
	==================
		 SERVICE CSS
	==================
*/

.service_section.ptb-80 {
  background: #f5f5f540;
}

.service_item_box {
  text-align: center;
  box-shadow: 0px 0px 20px rgb(206, 206, 206);
  padding: 30px 15px;
  position: relative;
  border-radius: 10px;
  margin: 15px 0;
}

.service_item_box:hover::after {
  width: 100%;
}

.service_item_box::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: #ffa624;
  border-radius: 10px;
  transition: all 1s ease;
  right: 0;
  margin: auto;
}

.service_icon {
  max-width: 85px;
  height: auto;
  margin: auto;
}

.service_icon img {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.service_item_box h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #151515;
  margin-bottom: 15px;
}

.service_item_box p {
  color: #171c24;
  font-size: 1rem;
}
/* 
	=======================
		SKILLBAR CSS FILE
	=======================
*/

.skills_section h4 {
  font-size: 1.2rem;
  color: #000;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.experience_list {
  position: relative;
  border-left: 1px solid #999;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.experience_item {
  padding-left: 20px;
  border-left: 3px solid #ffa624;
  margin-bottom: 20px;
  position: relative;
}
.experience_item:last-child {
  margin-bottom: 0;
}
.experience_item::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  content: "";
  width: 30px;
  height: 2px;
  background: #ffa624;
}
.experience_item::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #ffa624;
  top: 50%;
  left: -40px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.year {
  position: relative;
  display: inline-block;
  background: #ffa624;
  padding: 3px 10px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.year::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid #ffa624;
  border-right: 10px solid transparent;
}

.experience_name {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.degree {
  font-size: 0.8rem;
  font-weight: 600;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 45px;
  width: 100%;
  background: #eee;
  height: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: -27px;
  left: 0;
  display: block;
  font-size: 0.9rem;
  color: #000;
  font-weight: 700;
}

.skillbar-bar {
  height: 10px;
  width: 0px;
  background: #ffa624;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: -35px;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  color: rgba(9, 8, 8, 0.8);
}

/* 

  ================================
    PORTFOLIO CSS FILE
  ================================

*/
.portfolio_section {
  background-color: #f5f5f547;
}

.portfolio-filter-button {
  text-align: center;
}
.portfolio-filter-button li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.mixitup-control-active {
  background: #ffa624 !important;
  color: #fff !important;
}

.portfolio-filter-button li:hover button {
  background: #ffa624;
  color: #fff;
  transition: all 0.5s ease;
}

.portfolio-filter-button li button {
  display: inline-block;
  padding: 8px 15px;
  background: #fff;
  color: #181818;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #ddd;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
}

.portfolio_item_container {
  margin-top: 30px;
}

.portfolio-item {
  margin-bottom: 30px;
  position: relative;
}

.portfolio-item:hover .portfolio_content {
  width: 95%;
  transition: all 0.5s ease-in-out;
}

.portfolio-item:hover .portfolio_content i {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.portfolio-item img {
  border-radius: 10px;
}

.portfolio_content {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  background: #ffa624;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  margin: auto;
}

.portfolio_content i {
  margin: 20px;
  color: #fff;
  font-size: 1.3rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.portfolio_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.client_says {
  position: relative;
  padding: 30px 20px;
  background: #f7f7f7;
  border-radius: 10px;
  margin: 30px 0;
}
.client_says::before {
  position: absolute;
  content: "\f10d";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  top: 0;
  left: 0px;
  font-size: 2rem;
  color: #ffa624;
  opacity: 0.6;
}
.client_says::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 60px;
  border-top: 18px solid #f7f7f7;
  border-right: 10px solid transparent;
  transform: rotate(3deg);
  border-width: 30px;
}
.client_img {
  max-width: 140px;
  height: auto;
  float: left;
  margin-right: 20px;
}
.client_img img {
  width: 100%;
  height: 100%;
  border: 2px solid #ffa624;
  border-radius: 50%;
}
.client_details {
  display: flex;
  flex-direction: column;
}
.client_name {
  float: left;
  margin-top: 14px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.degisnation {
  float: left;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.social_links.client_social_links li {
  margin-right: 5px !important;
}

.client_social_links {
  margin-top: 10px !important;
}

.testimonial_sectiion .owl-dots {
  position: absolute;
  top: 50%;
  right: -58px;
}
.testimonial_sectiion .owl-dot {
  display: block !important;
}
.owl-dot.active {
  border: 1px solid #ffa624 !important;
  width: 20px;
  text-align: center !important;
  display: block !important;
  margin: auto;
  height: 20px;
  border-radius: 50%;
}

.owl-dot.active span {
  width: 5px !important;
  height: 5px !important;
  background: #ffa624 !important;
  text-align: center !important;
}

/* 
  =============================
    BLOG CONTENT CSS
  =============================

*/

.blog_section {
  background: rgba(244, 244, 244, 0.4);
  overflow: hidden;
  position: relative;
  clear: both;
}

.blog_item {
  box-shadow: 0px 0px 33px #ddd;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.blog_title {
  margin: 9px 0;
  display: block;
}
.blog_title h5 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}
.blog_title h5:hover {
  color: #ffa624;
}
.blog_accessories {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.blog_accessories a {
  cp: ;
  color: #000;
}
.read_more_btn {
  color: #fff !important;
  padding: 7px 10px;
}

.view_btn {
  display: block;
  text-align: center;
  margin-top: 72px;
  color: #ffa624;
  font-size: 1.2rem;
  position: relative;
}
.view_btn::before {
  padding: ;
  position: absolute;
  content: "\f105";
  top: 0;
  left: 54%;
  border-top: ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/* 
  =============================
    Contact
  =============================

*/

.contact_details {
  border-left: 1px solid #ffa624;
  padding: 20px 0;
  padding-left: 30px;
}
.contact_item {
  margin-bottom: 15px;
  box-sizing: border-box;
  word-wrap: break-word;
  background: #f5f6f7;
  padding: 20px;
  border-radius: 7px;
  position: relative;
}
.contact_item:last-child {
  margin-bottom: 0 !important;
}
.contact_item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -40px;
  border: 10px solid #ffa624;
  border-radius: 50%;
  transform: translateY(-50%);
}
.contact_item i {
  color: #ffa624;
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.contact_item p {
  font-weight: 600;
  color: #000;
}
.contact_item a {
  color: #171c24;
  transition: all 0.5s ease;
}
.contact_item a:hover {
  color: #ffa624;
}

.contact_form {
  overflow: hidden;
  position: relative;
  padding: 20px;
}
.contact_form h5 {
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.contact_form form input,
textarea {
  padding: 10px 11px !important;
  height: 52px;
  font-family: "Poppins";
}

/* 
  =============================
    Footer
  =============================

*/

footer {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
}
